body .page_body{
	margin:0 0 50px;
}
.banner img{
	height:auto;
	width:100%;
}
.tab_box{
	position:relative;
	margin:20px 0 10px;
}
.tab{
	width:120px;
	height:40px;
	background-color:#AAA;
	text-align:center;
	color:#FFF;
	font-size:14px;
	line-height:40px;
	float:left;
	margin:8px 10px 0 0;
	cursor:pointer;
	border-radius:10px 10px 0 0;
}
.tabs .tab_crr{
	background-color:#F90;
	height:48px;
	line-height:48px;
	font-size:16px;
	margin-top:0;
}
.search_box{
	width:100%;
	background-color:#FAFAFA;
	box-shadow:8px 8px 0 #DDD inset, -8px -8px 0 #DDD inset;
	box-shadow:none\9;
	border:7px solid #DDD\9;
	margin-left:-8px\9;
}
.scroll_box{
	position:relative;
	width:100%;
	height:35px;
	line-height:35px;
	text-indent:10px;
	overflow:hidden;
	border:1px solid #DDD;
	border-left:none;
	margin:15px 0 0;
}
.scroll_box i::before {
    content: "";
    width: 8px;
    height: 35px;
    display: block;
	position:absolute;
	background-image:url(../images/common_icons.png);
	background-position:0 -5px;
	z-index:9;
}
.scroll{
	white-space:nowrap;
	position:absolute;
	left:1200px;
}
.scroll li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:930px;
	padding:0 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.row_white a{
	font-size:14px;
}
.index_block{
	overflow:hidden;
}
.pdt_index{
	overflow:hidden;
	margin:0 0 20px;
	position:relative;
}
.index_table{
	width:63%;
	height:205px;
	border:1px solid #DDD;
	float:left;
}
.chart{
	width:34%;
	height:280px;
	position:absolute;
	right:0;
	top:-40px;
}
.chart>div{
	width:100%;
	height:280px;
}
.tables{
	width:50%;
	display:block;
	float:left;
}
.table{
	width:100%;
	margin:0;
}
.table thead{
	background-color:#FFF;
}
.table td, .table th{
	color:#333;
	padding:2px;
	height:40px;
	line-height:40px;
	font-size:12px;
}
.table th{
	height:42px;
	border-bottom:1px solid #DDD;
	color:#999;
}
.table .type{
	position:relative;
	text-align:center;
}
.table .type::before{
	content:"";
	display:block;
	position:absolute;
	top:20px;
	left:8px;
	width:6px;
	height:6px;
	background-color:rgb(29,194,102);
}
.table .this_week{
	color:#E33;
}
.table .this_month{
	color:rgb(29,194,102);
}
.table .this_week, .table .this_month{
	font-size:16px;
}
.table .pre_month{
	font-size:14px;
}
.trend_dynamics{
	width:1216px;
	overflow:hidden;
}
.min .trend_dynamics{
	width:978px;
}
.min .trend_title, .min .trend_cnt{
	width:440px;
}
.trend_box{
	float:left;
	width:50%;
	margin:8px 0;
}
.trend_title, .trend_cnt{
	width:560px;
	height:32px;
	border:1px solid #DDD;
	padding:0 15px;
}
.trend_cnt{
	border-top:none;
	padding:10px 15px;
	height:80px;
	line-height:28px;
	overflow:hidden;
	background-color:#F4F4F4;
	color:#777;
}
.trend_title span{
	font-size:14px;
	line-height:32px;
}
.trend_title i{
	display:block;
	float:right;
	line-height:32px;
	color:#999;
}
.trend_title a:hover{
	color:#F90;
}
.demand_trend{
	width:100%;
	background-color:#EEE;
	margin:10px 0;
	padding-bottom:10px;
	overflow:hidden;
}
.demand_box{
	position:relative;
	float:left;
	width:285px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin:10px 0 0 10px;
}
.demand_box::before{
	content:"";
	width:65px;
	height:63px;
	display:block;
	position:absolute;
	top:-2px;
	right:-2px;
	background-image:url(../images/corner-folded.png);
}
.min .demand_box{
	width:225px;
}
.demand_cnt{
	padding:10px 15px;
}
.demand_title{
	height:35px;
	font-size:14px;
	font-weight:600;
	text-align:center;
	max-width:82%;
	margin:0 auto;
	padding-right:10px;
}
.demand_action{
	padding:0 15px 10px;
	border-top:1px solid #DDD;
	overflow:hidden;
}
.demand_company{
	color: #444;
	height: 30px;
	line-height: 18px;
	margin-top: 10px;
}
.demand_budget{
	color:#666;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.demand_budget span{
	color:#E33;
	font-weight:600;
	font-size:14px;
}
.demand_action a{
	width:100px;
	margin:15px auto 10px;
    outline: none;
}
.demand_title, .demand_cnt li{
	line-height:35px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.good_company li{
	float:left;
	width:12.5%;
	height:50px;
	overflow:hidden;
	border:1px solid #DDD;
	margin:-1px 0 0 -2px;
}
.good_company li img{
	width:100%;
	height:auto;
}