body .page_body{
	margin:0 0 50px;
}
.banner img{
	height:auto;
	width:100%;
}
.tab_box{
	position:relative;
	margin:20px 0 10px;
}
.tab{
	width:120px;
	height:40px;
	background-color:#AAA;
	text-align:center;
	color:#FFF;
	font-size:14px;
	line-height:40px;
	float:left;
	margin:8px 10px 0 0;
	cursor:pointer;
	border-radius:10px 10px 0 0;
}
.tabs .tab_crr{
	background-color:#F90;
	height:48px;
	line-height:48px;
	font-size:16px;
	margin-top:0;
}
.search_box{
	width:100%;
	background-color:#FAFAFA;
	box-shadow:8px 8px 0 #DDD inset, -8px -8px 0 #DDD inset;
	box-shadow:none\9;
	border:7px solid #DDD\9;
	margin-left:-8px\9;
	overflow:hidden;
}
.search_row{
	width:100%;
	height:40px;
	margin:20px 0 20px -5px;
	overflow:hidden;
}
.search_row div{
	float:left;
	width:25%;
}
.search_row div span{
	width:25%;
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-align:center;
	font-size:14px;
	line-height:30px;
}
.search_row div input, .search_row div select{
	width:70%;
	margin-left:2%;
	height:30px;
	line-height:30px;
	border-radius:5px;
	border:1px solid #CCC;
	padding:0;
}
.search_row .search_type select{
	margin-left:1%;
}
.search_row .search_area select{
	width:103px;
}
.search_row .search_area [name=province]{
	margin:0;
}
.search_box .search_price{
	width:32%;
}
.search_box .search_price input{
	width:34%;
}
.search_box .search_price i{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:7%;
	text-align:right;
}
.search_box .search_price span{
	width:19.5%;
}
.search_box button{
	position:absolute;
	width:10%;
	height:40px;
	line-height:40px;
	font-size:18px;
	right:18px;
	right:10px\9;
	bottom:30px;
	bottom:35px\9;
}
.scroll_box{
	position:relative;
	width:100%;
	height:35px;
	line-height:35px;
	text-indent:10px;
	overflow:hidden;
	border:1px solid #DDD;
	border-left:none;
	margin:15px 0;
}
.scroll_box i::before {
    content: "";
    width: 8px;
    height: 35px;
    display: block;
	position:absolute;
	background-image:url(../images/common_icons.png);
	background-position:0 -5px;
}
.scroll li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:930px;
	padding:0 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.scroll .scroll_last{
	width:auto;
}
.pdt_index{
	overflow:hidden;
	margin:0 0 10px;
	position:relative;
}
.index_table{
	width:63%;
	height:205px;
	border:1px solid #DDD;
	float:left;
}
.chart{
	width:34%;
	height:280px;
	position:absolute;
	right:0;
	top:-40px;
}
.chart>div{
	width:100%;
	height:280px;
}
.tables{
	width:50%;
	display:block;
	float:left;
}
.table{
	width:100%;
	margin:0;
}
.table thead{
	background-color:#FFF;
}
.table td, .table th{
	color:#333;
	font-size:14px;
	padding:2px;
	height:40px;
}
.table th{
	height:42px;
	border-bottom:1px solid #DDD;
	font-size:16px;
	color:#AAA;
}
.table .type{
	font-size:15px;
	position:relative;
	text-align:center;
}
.table .type::before{
	content:"";
	display:block;
	position:absolute;
	top:16px;
	left:8px;
	width:6px;
	height:6px;
	background-color:rgb(29,194,102);
}
.table .this_week{
	color:#E33;
	font-size:16px;
}
.table .this_month{
	font-size:16px;
	color:rgb(29,194,102);
}
.trend_dynamics{
	width:1218px;
	overflow:hidden;
}
.min .trend_dynamics{
	width:978px;
}
.min .trend_title, .min .trend_cnt{
	width:440px;
}
.trend_box{
	float:left;
	width:50%;
	margin:8px 0;
}
.trend_title, .trend_cnt{
	width:560px;
	height:32px;
	border:1px solid #DDD;
	padding:0 15px;
}
.trend_cnt{
	border-top:none;
	padding:10px 15px;
	height:80px;
	line-height:28px;
	overflow:hidden;
	background-color:#F4F4F4;
}
.trend_title span{
	font-size:16px;
	line-height:32px;
}
.trend_title i{
	display:block;
	float:right;
	line-height:32px;
}
.trend_title a:hover{
	color:#F90;
}
.demand_trend{
	width:100%;
	background-color:#F4F4F4;
	margin:10px 0;
	padding-bottom:10px;
	overflow:hidden;
}
.demand_box{
	float:left;
	width:285px;
	border:1px solid #DDD;
	margin:10px 0 0 10px;
}
.min .demand_box{
	width:225px;
}
.demand_cnt{
	padding:15px;
}
.demand_title{
	height:35px;
	font-size:16px;
	font-weight:600;
	text-align:center;
}
.demand_action{
	padding:10px 15px;
	border-top:1px solid #DDD;
	background-color:#FFF;
	overflow:hidden;
}
.demand_company{
	color: #000;
	height: 30px;
	line-height: 18px;
	margin-top: 10px;
}
.demand_budget{
	color:#555;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.demand_budget span{
	color:#E33;
	font-weight:600;
}
.demand_action button{
	float:right;
	width:100px;
	font-size:15px;
}
.demand_title, .demand_cnt li{
	line-height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.good_company li{
	float:left;
	width:12.5%;
	height:50px;
	overflow:hidden;
	border:1px solid #DDD;
	margin:-1px 0 0 -2px;
}
.good_company li img{
	width:100%;
	height:auto;
}