body{
	background-color: #FFF;
}
body .page_body{
	margin-top:0;
}
.main_width{
	overflow:hidden;
}
.header .user{
	display:none;
}
.blur{
	display:none;
}
.page_body{
	position: relative;
	width: 100%;
	margin: 81px 0 50px;
	*top:81px;
}
.login_body{
	height: 540px;
	background-color: #6A5246;
	background-image:url(../images/login_bg.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.system_login.login_body{
	background-image:url(../images/system_login.png);
	background-color:#FFF;
	background-size:1600px auto;
	height:600px;
}
.login_box, .forget_box, .setpsd_box{
	width: 310px;
	height: 360px;
	background-color: #FFF;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.system_login .login_box, .system_login .forget_box, .system_login .setpsd_box {
	background-color:#EEE;
}
.input_field{
	position: relative;
	height: 46px;
	margin: 10px 0 15px;
}
.register_body .input_field{
	width:407px;
	margin: 15px auto;
}
.register_body .input_field i{
	width: 200px;
	height:46px;
	overflow:hidden;
	right: -215px;
	left:auto;
	bottom:auto;
	display: block;
	line-height: 46px;
}
.input_field i{
	position:absolute;
	left:61px;
	bottom:-15px;
	color: #E33;
}
.setpsd_box .input_field i{
	left:100px;
}
.input_field span{
	font-size: 15px;
	color:#666;
	line-height: 50px;
	height: 50px;
	width: 50px;
	overflow: hidden;
	text-align: right;
	margin-right:10px;
	display: block;
	float: left;
}
.input_field input, .input_field select{
	display: block;
	float: left;
	width: 230px;
	height: 38px;
	line-height:34px;
	margin: 6px 0;
	border-radius: 0;
	border: 1px solid #DDD;
	font-size:14px;
}
.box_title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	letter-spacing: 3px;
	margin:10px 0 20px;
}
.user_valid input{
	width: 110px;
}
.user_valid #verify_img{
	display: block;
	float: left;
	margin:6px 0 6px 5px;
}
.login_box button, .forget_box button, .setpsd_box button{
	width: 295px;
	height: 40px;
	margin: 45px auto 10px;
	font-size: 17px;
	border-radius:6px;
}
.row2{
	position:relative;
	font-size:13px;
}
.forget, .login, .login_2{
	display: block;
	padding-left:12px;
	color:#AAA;
	font-size:15px;
}
.register{
	position:absolute;
	right:10px;
	top:0;
	color:#F90;
	font-size:15px;
}
.remember{
	position:absolute;
	left:10px;
	display:block;
	font-size:15px;
	margin:5px 0 0 15px;
}
.remember i{
	display:block;
	float:left;
	width:13px;
	height:13px;
	border:1px solid #666;
	border-radius:50%;
	margin:4px;
}
.checked i{
	box-shadow:0 -2px 0 0 #EEE inset,
				0 2px 0 0 #EEE inset,
				-2px 0 0 0 #EEE inset,
				2px 0 0 0 #EEE inset;
	background-color:#666;
}
.login_by_phone{
	position:absolute;
	right:10px;
	bottom:10px;
}

/*  register  */
.cnt_header{
	margin: 10px 0;
}
.header_more{
	position:relative;
	height:0;
	width:1180px;
	margin:0 auto;
	z-index:9;
}
.header_more span{
	position:absolute;
	top:30px;
	left:285px;
	font-size:16px;
	color:#B40;
}
.header_more a{
	position:absolute;
	top:50px;
	right:0;
}
.company_info p, .user_info p{
	font-size: 16px;
	font-weight: 600;
}
.box_wrap{
	position: relative;
	width: 350px;
	height: 400px;
	overflow: hidden;
	float: right;
	margin: 70px;
}
.system_login .box_wrap{
	margin-top:125px;
}
.register_body{
	margin:20px auto;
	width:1200px;
	padding:15px 0 50px;
	border:1px solid #DDD;
	border-top:3px solid #F90;
	background-color:#FFF;
}
.register_body .input_field span{
	position:absolute;
	width: 80px;
	line-height:46px;
	text-align:left;
	margin-left:20px;
	font-size:14px;
	color:#B40;
	z-index:9;
}
.register_body .input_field input{
	width: 310px;
	height:44px;
	padding-left:90px;
	margin:0;
	font-size:14px;
}
.input_field select{
	width: 407px;
	height:46px;
	padding-left:90px;
	margin:0;
	font-size:15px;
}
.company_info, .user_info{
	width: 770px;
	margin: 20px auto 0;
}
.register_body .user_valid input{
	width: 150px;
	float:left;
	position:relative;
}
.register_body .valid_btn{
	width: 145px;
	height: 46px;
	float: right;
	font-size: 13px;
	background-color:#8ad3cc;
}
.register_body .valid_btn:hover{
	background-color:#BDD;
}
.register_submit{
	width: 407px;
	height: 42px;
	margin:15px auto;
	font-size:16px;
	letter-spacing:2px;
}
.register_body .company_type, .register_body .company_area{
	border:1px solid #DDD;
}
.register_body .input_field select{
	width:315px;
	border:none;
	margin-left:85px;
}

.forget_box, .setpsd_box, .phone_box{
	opacity: 0;
	right: -320px;
	display: none;
}
.forget_box .valid_btn, .phone_box .valid_btn{
	width: 110px;
	font-size: 12px;
	float: right;
	margin: 6px 10px 0 0;
}
.forget_box .input_field, .setpsd_box .input_field{
	margin: 33px 0;
}
.setpsd_box .input_field input{
	width: 200px;
}
.setpsd_box .input_field span{
	width: 80px;
}
body .footer{
	margin-top:0;
}
body .footer_bg{
	background-color:#FFF;
	border-top:1px solid #DDD;
}