body{
	background-color: #FFF;
}
body .page_body{
	margin-top:0;
}
body .header3 .main_width{
	width:980px;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 80px;
	overflow: hidden;
	box-shadow: 0 -1px 1px #FB8 inset;
	border-bottom: 1px solid #F80;
	min-width: 850px;
	background-color: #FFF;
}
.header .user{
	display:none;
}
.blur{
	display:none;
}
.page_body{
	position: relative;
	width: 100%;
	margin: 81px 0 50px;
	*top:81px;
}
.page_cnt{
	position: relative;
	overflow: hidden;
	width: 980px;
	margin: 0 auto;
}
.login_body{
	height: 480px;
	background-color: #6A5246;
	background-image:url(../images/login_bg.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.login_cnt{
	height: 480px;
}
.login_box, .forget_box, .setpsd_box{
	width: 280px;
	height: 300px;
	background-color: #FFF;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.input_field{
	position: relative;
	height: 50px;
	margin: 10px 0;
}
.register_body .input_field{
	width:407px;
	margin: 10px auto;
}
.input_field i{
	position:absolute;
	left:70px;
	bottom:-10px;
	color: #E33;
}
.setpsd_box .input_field i{
	left:100px;
}
.input_field span{
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	width: 50px;
	overflow: hidden;
	text-align: right;
	margin: 0 10px;
	display: block;
	float: left;
}
.input_field input, .input_field select{
	display: block;
	float: left;
	width: 185px;
	height: 34px;
	line-height:34px;
	margin: 6px 0;
	border-radius: 0;
	border: 1px solid #DDD;
}
.box_title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	letter-spacing: 8px;
}
.user_valid input{
	width: 90px;
}
.user_valid img{
	display: block;
	float: left;
	width: 90px;
	height: 38px;
	margin:6px 0 6px 5px;
}
.login_box button, .forget_box button, .setpsd_box button{
	width: 260px;
	height: 35px;
	margin: 20px auto 10px;
	font-size: 18px;
}
.row2{
	position:relative;
	font-size:15px;
}
.forget, .login, .login_2{
	display: block;
	text-align:center;
	color:#AAA;
}
.register{
	position:absolute;
	right:10px;
	top:0;
	color:#F90;
}

/*  register  */
.cnt_header{
	margin: 10px 0;
}
.header_more{
	position:relative;
	height:0;
	width:980px;
	margin:0 auto;
	z-index:9;
}
.header_more span{
	position:absolute;
	top:30px;
	left:222px;
	font-size:16px;
	color:#B40;
}
.header_more a{
	position:absolute;
	top:50px;
	right:0;
}
.company_info p, .user_info p{
	font-size: 16px;
	font-weight: 600;
}
.box_wrap{
	position: relative;
	width: 320px;
	height: 340px;
	overflow: hidden;
	float: right;
	margin: 70px 50px;
}
.register_body{
	margin:20px 0;
	padding:15px 0 50px;
	border:1px solid #DDD;
	border-top:3px solid #F90;
	background-color:#FFF;
}
.register_body .input_field span{
	position:absolute;
	width: 80px;
	line-height:46px;
	text-align:left;
	top:5px;
	margin-left:20px;
	color:#B40;
	z-index:9;
}
.register_body .input_field input{
	width: 310px;
	height:44px;
	padding-left:90px;
	font-size:15px;
}
.register_body .input_field select{
	width: 407px;
	height:46px;
	padding-left:90px;
	font-size:15px;
}
.company_info, .user_info{
	width: 770px;
	margin: 20px auto 0;
}
.register_body .user_valid input{
	width: 150px;
	float:left;
	position:relative;
}
.register_body .user_valid button{
	width: 145px;
	height: 46px;
	float: right;
	font-size: 16px;
	margin-top:6px;
	background-color:#8ad3cc;
}
.register_submit{
	width: 407px;
	height: 42px;
	margin:15px auto;
	font-size:18px;
}
.forget_box, .setpsd_box{
	opacity: 0;
	right: -320px;
	display: none;
}
.forget_box .valid_btn{
	width: 86px;
	font-size: 14px;
	float: right;
	margin: 6px 10px 0 0;
}
.forget_box .sent{
	background-color:#AAA;
}
.forget_box .input_field, .setpsd_box .input_field{
	margin: 33px 0;
}
.setpsd_box .input_field input{
	width: 165px;
}
.setpsd_box .input_field span{
	width: 80px;
}
body .footer{
	margin-top:0;
}
body .footer_bg{
	background-color:#FFF;
	border-top:1px solid #DDD;
}