.search_box{
	width:100%;
	height:100px;
}
.search_row{
	width:100%;
	height:50px;
	margin-left:-5px;
}
.search_row div{
	float:left;
	width:25%;
}
.search_row div span{
	width:25%;
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-align:center;
	font-size:14px;
	line-height:30px;
}
.search_row div input, .search_row div select{
	width:70%;
	margin-left:2%;
	height:30px;
	line-height:30px;
	border-radius:5px;
	border:1px solid #CCC;
	padding:0;
}
.search_row div select{
	margin-left:1%;
}
.search_box .search_price{
	width:32%;
}
.search_box .search_price input{
	width:34%;
}
.search_box .search_price i{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:7%;
	text-align:right;
}
.search_box .search_price span{
	width:19.5%;
}
.search_box button{
	float:right;
	margin-right:10px;
	width:10%;
	background-color:#E33;
	font-size:15px;
}
.pdts_box{
	width:100%;
}
.pdts{
	width: 100%;
}
.pdt{
	position: relative;
	width: 100%;
	margin-bottom:3px;
	border-bottom:1px solid #DDD;
	background-color:#F8F8F8;
	overflow:hidden;
	padding:10px 0;
}
.pdt .pdt_l{
	float: left;
	width: 14%;
	text-align:center;
}
.pdt_l img{
	width: 110px;
	height: 115px;
	margin:0 5px;
}
.pdt .pdt_c{
	float: left;
	width: 68%;
}
.pdt_title{
	width:100%;
	height:35px;
	overflow:hidden;
}
.pdt_name{
	display:block;
	float:left;
	max-width:600px;
	font-size:18px;
	line-height:40px;
	margin-right:10px;
}
.company_name{
	line-height:45px;
}
.pdt_info{
	width:100%;
}
.pdt_state{
	float:left;
	width:33%;
}
.pdt_price{
	height:45px;
	line-height:45px;
	color:#E33;
	font-weight:600;
}
.pdt_price b{
	height:40px;
	font-size:30px;
	color:#E33;
}
.pdt_stock{
	font-size:12px;
	line-height:18px;
	height:18px;
	text-align:center;
	margin-top:5px;
}
.pdt_stock span{
	display:block;
	float:left;
	width:60px;
	border:1px solid #DDD;
	border-right:none;
	color:#999;
}
.pdt_stock i{
	display:block;
	float:left;
	width:90px;
	background-color:#F90;
	color:#FFF;
}
.pdt_info .pdt_detail{
	float:right;
	width:66%;
	margin-top:15px;
}
.pdt_dtl_cnt span{
	display:block;
	float:left;
	width:49%;
	height:30px;
	line-height:30px;
}
.pdt .pdt_r{
	float: left;
	width: 15.5%;
	height:115px;
	margin-right:15px;
}
.pdt_r .date{
	float:right;
	text-align:center;
	width:110px;
	height:45px;
	line-height:55px;
	clear:both;
	color:#E33;
}
.pdt_r button{
	width:110px;
	height:35px;
	font-size:16px;
	float:right;
	margin-top:20px;
	clear:both;
}
.pdt_name, .pdt_dtl_cnt span{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
 
 /* demand.jsp */
.results{
	width:100%;
	padding:5px 0 15px;
	overflow:hidden;
	box-shadow:1px 1px 0 #DDD inset, -1px -1px 0 #DDD inset;
}
.demand_box{
	float:left;
	width:285px;
	border:1px solid #DDD;
	margin:10px 0 0 10px;
}
.min .demand_box{
	width:225px;
}
.demand_cnt{
	padding:15px;
	background-color:#F4F4F4;
}
.demand_title{
	height:35px;
	font-size:16px;
	font-weight:600;
	text-align:center;
}
.demand_action{
	padding:10px 15px;
	border-top:1px solid #DDD;
	background-color:#FFF;
	overflow:hidden;
}
.demand_company{
	color: #000;
	height: 30px;
	line-height: 18px;
	margin-top: 10px;
}
.demand_budget{
	color:#555;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.demand_budget span{
	color:#E33;
	font-weight:600;
}
.demand_action button{
	float:right;
	width:100px;
	font-size:15px;
}
.demand_title, .demand_cnt li{
	line-height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}