.pdts_box{
	width:100%;
	margin:10px 0;
}
.search_box{
	margin:10px 0 15px;
}
.pdts{
	width: 100%;
}
.pdt{
	position: relative;
	width: 100%;
	margin-bottom:3px;
	border-bottom:1px solid #DDD;
	background-color:#F8F8F8;
	overflow:hidden;
	padding:10px 0;
}
.pdt:hover{
	background-color:#FFF;
}
.pdt .pdt_l{
	float: left;
	width: 14%;
	text-align:center;
}
.pdt_l img{
	width: 113px;
	height: 113px;
	margin:0 5px;
	border: 1px solid #EEE;
}
.pdt .pdt_c{
	float: left;
	width: 68%;
}
.pdt_title{
	width:100%;
	height:35px;
	overflow:hidden;
}
.pdt_name{
	display:block;
	float:left;
	max-width:600px;
	font-size:16px;
	line-height:40px;
	margin-right:10px;
}
.pdt_name:hover{
	color:#F90;
}
.company_name{
	line-height:45px;
	color:#999;
}
.pdt_info{
	width:100%;
}
.pdt_state{
	float:left;
	width:33%;
}
.pdt_price{
	height:45px;
	line-height:45px;
	color:#E33;
	font-weight:600;
}
.pdt_price b{
	height:40px;
	font-size:24px;
	color:#E33;
}
.pdt_stock{
	font-size:12px;
	line-height:15px;
	height:15px;
	text-align:center;
	margin-top:5px;
}
.pdt_stock span{
	display:block;
	float:left;
	width:50px;
	border:1px solid #DDD;
	border-right:none;
	color:#999;
	background-color:#FFF;
}
.pdt_stock i{
	display:block;
	float:left;
	width:80px;
	border:1px solid #F90;
	background-color:#F90;
	color:#FFF;
}
.pdt_info .pdt_detail{
	float:right;
	width:66%;
	margin-top:15px;
}
.pdt_dtl_cnt span{
	display:block;
	float:left;
	width:49%;
	height:30px;
	line-height:30px;
}
.pdt .pdt_r{
	float: left;
	width: 15.5%;
	height:115px;
	margin-right:15px;
}
.pdt_r .date{
	float:right;
	text-align:center;
	width:110px;
	height:45px;
	line-height:55px;
	clear:both;
	color:#E33;
}
.pdt_r a{
	width: 110px;
	height: 32px;
	line-height:32px;
	text-align:center;
	font-size: 15px;
	float: right;
	margin-top: 20px;
	clear: both;
	display: block;
	border-radius: 3px;
	background-color: #F90;
	color: #FFF;
	outline: none;
}
.pdt_r a:hover{
	background-color:#FA0;
}
.pdt_name, .pdt_dtl_cnt span{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
 
 /* demand.jsp */
.results{
	width:100%;
	padding:5px 0 15px;
	overflow:hidden;
	box-shadow:1px 1px 0 #DDD inset, -1px -1px 0 #DDD inset;
}
.demand_box{
	margin:15px 0 10px 10px;
	position:relative;
	float:left;
	width:285px;
	border:1px solid #CCC;
	background-color:#FFF;
}
.demand_box::before{
	content:"";
	width:65px;
	height:63px;
	display:block;
	position:absolute;
	top:-2px;
	right:-2px;
	background-image:url(../images/corner-folded1.png);
}
.min .demand_box{
	width:225px;
}
.demand_cnt{
	padding:10px 15px;
}
.demand_title{
	height:35px;
	font-size:14px;
	font-weight:600;
	text-align:center;
	max-width:82%;
	margin:0 auto;
	padding-right:10px;
}
.demand_action{
	padding:0 15px 10px;
	border-top:1px solid #DDD;
	overflow:hidden;
}
.demand_company{
	color: #444;
	height: 30px;
	line-height: 18px;
	margin-top: 10px;
}
.demand_budget{
	color:#555;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.demand_budget span{
	color:#E33;
	font-size:14px;
	font-weight:600;
}
.demand_action .btn{
	margin:15px auto 10px;
	width:100px;
	font-size:14px;
}
.demand_title, .demand_cnt li{
	line-height:35px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}