.info_box, .detail_box, .main_info{
	position:relative;
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
}
.img_box{
	width:400px;
	height:490px;
	float:left;
}
.main_img{
	width:400px;
	height:400px;
}
.imgs{
	width:420px;
}
.img{
	float:left;
	width:70px;
	height:70px;
	border:1px solid #DDD;
	margin:10px 8px 0 0;
}
.img img{
	width:100%;
	height:100%;
}
.summary{
	margin-left:460px;
}
.pdt_title, .info_row{
	border-bottom:2px dashed #EEE;
	padding:8px 0;
	line-height:28px;
	font-size:14px;
}
.pdt_title{
	padding-top:0;
}
.info_row p span{
	margin-right:30px;
}
.pdt_name{
	font-size:16px;
	line-height:30px;
	font-weight:bold;
}
.favorite{
	position:absolute;
	right:10px;
	top:5px;
	font-size:14px;
	line-height:25px;
	padding-left:20px;
	cursor:pointer;
	background-image:url(../images/common_icons.png);
	background-position:0 -35px;
	background-size:35px auto;
}
.pdt_action{
	padding:10px 0;
}
.price{
	display:block;
	float:left;
	height:55px;
	line-height:55px;
	color:#E33;
}
.price b{
	font-size:24px;
}
.pdt_action .btn{
	display:block;
	float:right;
	width:150px;
	height:35px;
	line-height:35px;
	font-size:15px;
	margin-top:15px;
}
.detail_header{
	position:relative;
	width:100%;
	height:35px;
	background-color:#F4F4F4;
	border-bottom:1px solid #BBB;
	font-size:16px;
}
.detail_header span{
	display:block;
	position:absolute;
	height:35px;
	line-height:35px;
	padding:0 10px;
	border-bottom:1px solid #F90;
}
#detail_cnt{
	width:92%;
	margin:30px auto 40px;
	line-height:30px;
}
.sold_service{
	background-color:#F4F4F4;
	min-height:50px;
	padding:20px;
	line-height:30px;
}
.loading_wrapper{
	position:absolute;
	background-color:#FFF;
	width:100%;
	z-index:99;
	height:100%;
}