.cnt .user_title::after{
	width:0;
}
.fill_block .add_pics{
	float:left;
	width:79%;
	height:140px;
	margin-left:-15px;
	overflow:hidden;
}
.add_pics .fileItem{
	border:1px solid #DDD;
	border-radius:5px;
	display:block;
	float:left;
	margin-left:15px;
	cursor:pointer;
	overflow:hidden;
}
.add_pics .selectFileBt:hover, .fileItem:hover{
	border-color:#CCC;
	color:#CCC;
}
.add_pics .fileItem:hover .icon-shanchu{
	display:block;
}
.add_pics .fileItem, .add_pics .icon-shanchu{
	width:129px;
	height:85px;
}
.add_pics .fileItem .imgShow{
	width:100%;
	height:65px;
}
.add_pics .imgShow img{
	width:100%;
}
.add_pics .icon-shanchu{
	display:none;
	position:relative;
	margin-top:-65px;
	line-height:80px;
	text-align:center;
	font-size:70px;
	color:#CCC;
	background-color:rgba(255,255,255,0.95);
}
.add_pics .box{
	float:left;
}
.add_pics .uploadBts{
	position:absolute;
	right:-144px;
}
.add_pics .upload_btn{
	right:auto;
	left:16px;
	top:100px;
}
.add_pics .fileUploadContent{
	position:relative;
	height:100px;
	float:left;
}
.add_pics .selectFileBt{
	width:119px;
	height:77px;
	border:5px solid #DDD;
	border-radius:5px;
	text-align:center;
	line-height:70px;
	color:#DDD;
	font-size:50px;
	cursor:pointer;
	margin-left:15px;
}
.add_pics .fileName{
	position:absolute;
}
.uploadFileBt{
	cursor:pointer;
}
.uploadFileBt:hover .icon-shangchuan{
	background-color:#FFF;
	color:#F90 !important;
}
.uploadFileBt .icon-shangchuan{
	display:block;
	width:128px;
	height:35px;
	border:1px solid #F90;
	border-radius:5px;
	background-color:#F90;
	color:#FFF !important;
	text-align:center;
	line-height:35px;
}
.pics_row{
	overflow:hidden;
	margin:25px 0;
}
.pics_row span{
	float:left;
	height:70px;
	line-height:15px;
}
.fill_block .pics_ul{
	margin-left:0;
}
.pics_ul img{
	width: 19.5%;
	vertical-align: middle;
}
.pdts_state{
	padding:0;
	margin-top:-2px;
	color:#999;
}
.pdts_state span{
	color:#999;
}
.pdts_state p, .pdts_state li{
	border-top:2px solid #F4F4F4;
	padding:15px 40px;
	line-height:15px;
	color:#999;
}
.pdts_state .username{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:80px;
	margin-right:15px;
}
.button_block{
	padding:40px 0;
	overflow:hidden;
}
.button_block .submit, .preview{
	width:28%;
	height:38px;
	line-height:38px;
	border-radius:5px;
	font-size:15px;
}
.preview{
	float:right;
	margin-right:18%;
}
.button_block .submit{
	float:left;
	margin:0;
	margin-left:18%;
}
.fix_btn{
	margin-left:120px;
	width:145px;
	font-size:13px;
}