body .footer{
	background-color:#FFF;
	margin-top:10px;
}
body{
	background-color:#F4F4F4 !important;
}
body .header{
	display:none;
}
body .cnt_box{
	margin-top:105px;
	overflow:hidden;
}
.body_cnt{
	float:right;
	width:1030px;
	margin-bottom:-300px;
}
.min .body_cnt{
	width:790px;
}
.nav{
	float:left;
	width:169px;
	height:100%;
	min-height:500px;
	background-color: #FFF;
	z-index:98;
	margin-bottom:-300px;
	padding-bottom:300px;
}
.menu{
	width: 135px;
	margin:0 auto;
	overflow-y:auto;
	overflow-x:hidden;
}
.menu a{
	color:#FFF;
}
.menu_item{
	text-align: center;
	cursor: pointer;
	position: relative;
}
.menu_item span{
	display:block;
	font-size: 16px;
	line-height: 55px;
	height:55px;
	border-bottom:1px solid #EEE;
	border-top:1px solid #EEE;
	margin-top:-1px;
}
.active span, .menu_item span:hover{
	border-bottom:1px solid #F90;
}
.active span{
	color:#F90;
}
.menu2 .active2{
	color:#FFF;
	background-color:#F90;
}
.menu2{
	height:0;
	overflow:hidden;
	padding: 0 15px;
	cursor: default;
}
.menu2_item{
	line-height: 30px;
	color: #999;
	font-size: 14px;
	cursor: pointer;
	margin:10px 0 15px;
	border-radius:14px;
}
.menu2_item:hover{
	color:#F90;
}
.menu2 .active2:hover{
	color:#FFF;
}
.cnt_body{
	overflow:hidden;
	background-color:#FFF;
	margin:10px 0 10px 10px;
	padding-bottom:300px;
}
.pdt_name{
	color: #A40;
}
.cnt .pdt_money, .cnt .order_money{
	color:#D00;
}
.orders_list td a{
	margin:0 8px;
	color:#888;
}
.operation{
	width:230px;
}
.pdts_part{
	border:1px solid #FFF;
}
.search_bar{
	background-color:#FFF;
	border-bottom:2px solid #DDD;
	overflow:hidden;
	padding:10px 15px;
}
.search{
	height: 30px;
	float:right;
}
.search input{
	width: 200px;
	height: 28px;
	border: 1px solid #DDD;
	display: block;
	float: left;
}
.search span, .search select{
	display:block;
	height:30px;
	line-height:30px;
	float:left;
}
.search span{
	margin-left:30px;
}
.search select{
	width:150px;
	margin-right:30px;
}
.search button{
	display: block;
	float: left;
	border-radius:0;
}
.add_btn{
	float:left;
}
.add_btn button{
	background-color:#FFF;
	color:#F90;
	border:1px solid #F90;
}
.cnt_header{
	height:55px;
	background-color:#FFF;
	line-height:55px !important;
	padding-left:30px;
}
.cnt_header span{
	font-size:14px;
}
.col{
	float: left;
	background-color:#F4F4F4;
	box-shadow:-1px -1px 0 0 #DDD inset,
				1px 1px 0 0 #DDD inset;
	cursor:pointer;
}
.c .my_credit{
	background-color:#F76;
	box-shadow:1px 1px 2px 0 #888;
	margin-left:7%;
}
.my_credit *{
	color:#FFF !important;
}
.c .my_credit .hbox_name{
	background-color:#F64;
}
.col p{
	text-align:center;
}
.col_2{
	width: 25%;
	height: 150px;
	margin: 50px 0 50px 15%;
}
.col_2 p{
	line-height: 28px;
	padding-top: 28px;
}
.col_4{
	float:left;
	width:19%;
	height:385px;
	margin:80px 0 50px 3%;
}
.hbox_cnt{
	height:70px;
	line-height:110px;
	color:#F64;
	font-size:24px;
	white-space:nowrap;
}
.hbox_unit{
	line-height:35px;
}
.col .hbox_name{
	height: 30px;
	line-height: 30px;
	font-size:16px;
	color:#222;
	background-color:#CCC;
}
.col_4 .col{
	float:none;
	width:100%;
	height:180px;
	margin-bottom:25px;
}
.col .col_long{
	padding-top:90px;
}
.col_3{
	width:26%;
	height:200px;
	margin:50px 0 0 5%;
}
.col_3 p{
	height:30px;
	padding-top:50px;
}
.c .col:hover{
	background-color:#FC3;
	box-shadow:0 0 5px 0 #FC3;
}
.c .col:hover *{
	color:#FFF;
}
.c .col:hover .hbox_name{
	background-color:#FB1;
}
.c .col:hover .hbox_cnt{
	font-size:28px;
	font-weight:600;
}

/**** order_detail ****/

.order_pdt{
	border:1px solid #DDD;
}
.order_pdt *{
	font-size:14px;
}
.order_pdt th{
	background-color:#EEE;
	color:#222;
}
.order_box{
	background-color:#FFF;
	padding:15px 0;
	margin:15px 0 30px;
	width:90%;
}
.order_box h1{
	font-weight:normal;
	color:#F90;
	text-align:center;
	line-height:50px;
	height:40px;
	font-size:23px;
}
.order_detail_width{
	width:90%;
	margin:0 auto;
}
.order_title{
	font-size:15px;
	font-weight:600;
	line-height:35px;
	height:30px;
	margin:10px 0;
	border-bottom:1px dashed #BBB;
}
.order_row{
	overflow:hidden;
	margin-left:1%;
}
.order_row span, .order_row i{
	font-size:14px;
	display:block;
	float:left;
	height:30px;
	line-height:30px;
}
.order_row span{
	width:12%;
	text-align:right;
}
.order_row i{
	width:21.3%;
}
.order_pdt{
	margin:5px 0 5px 7%;
	width:auto;
	min-width:70%;
}
.os_serviceCharge{
	color:#E33;
}
.order_total{
	font-size:22px;
}
.order_total_style{
	font-weight:600;
	font-size:18px;
}
.order_box .os_userMark, .order_track{
	padding-left:55px;
}
.order_track{
	margin-left:1%;
}
.order_box button{
	width:200px;
	height:36px;
	margin:40px auto 10px;
	font-size:18px;
}

/**********  demand_management  **********/
.search .demand_add{
	float:left;
	margin-right:100px;
	width:100px;
}


/********* credit.jsp **********/
.credit_add{
	margin-top:10px;
}
.credit_add button{
	width:100px;
	font-size:16px;
}
.select_bank{
	font-size:16px;
	margin:15px;
	line-height:50px;
}
.select_bank+button{
	width: 100px;
	margin: 0 212px;
	height: 35px;
	font-size: 16px;
}
.select_bank select{
	font-size:16px;
	width:250px;
	height:35px;
}


.user_title{
	position:relative;
	height:40px;
	line-height:40px;
	font-size:15px;
	padding-left:20px;
	border-bottom:2px solid #DDD;
}
.user_title::after{
	content:"";
	position:absolute;
	width:130px;
	height:2px;
	background-color:#F90;
	bottom:-2px;
	left:0;
}

/*******  表單區域   *******/
.fill_block{
	padding:25px 40px;
	border-bottom:10px solid #F4F4F4;
}
.fill_block p{
	line-height:50px;
}
.fill_block span{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:100px;
	padding-right:20px;
	text-align:right;
	font-size:13px;
	color:#666;
}
.fill_block input{
	background-color:#FAFAFA;
	border-color:#EEE;
	height:30px;
	line-height:30px;
	width:250px;
}
.fill_block select{
	width:262px;
	height:32px;
	line-height:32px;
	border-color:#DDD;
}
.fill_block textarea{
	width:75%;
	min-height:150px;
	max-height:300px;
	line-height:25px;
	border-color:#DDD;
}


/************  表格    ************/
.cnt table thead{
	background-color:#F4F4F4;
}
.cnt thead th{
	line-height:28px;
	font-size:13px;
	color:#333;
}
.cnt td{
	line-height:28px;
	color:#777;
}
.rows .odd{
	background-color:#F4F4F4;
}
.cnt .page_box{
	margin:20px 5px 10px;
}