body{
	background-color:#EEE;
}
.logo{
	float: left;
	position: relative;
	z-index: 99;
	margin-left: 50px;
}
.logo span{
	font-size: 30px;
	color: #FFF;
	line-height: 80px;
	font-weight: 600;
}
.logo i{
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	width: 200px;
	height: 60px;
	display: block;
	float: left;
	margin-top: 10px;
}
.user{
	float: right;
	position: relative;
	z-index: 99;
	margin-right: 50px;
	height: 80px;
}
.user span{
	color: #FFF;
	font-size: 20px;
	line-height: 80px;
	margin-left: 30px;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
}
.user span:hover{
	background-color: rgba(255,255,255,0.5);
	color: #A40;
}
.nav{
	position: fixed;
	top: 80px;
	left: 0;
	width:140px;
	height:100%;
	background-color: #333;
	z-index:98;
}
.menu{
	width: 140px;
	padding-top: 10px;
	overflow-y:auto;
	overflow-x:hidden;
}
.menu a{
	color:#FFF;
}
.menu_item{
	text-align: center;
	cursor: pointer;
	position: relative;
}
.menu_item span{
	display:block;
	font-size: 19px;
	line-height: 45px;
	height:45px;
	color: #EEE;
}
.active{
	background-color:#111 !important;
}
.active span{
	color:#F90;
}
.menu2 .active2{
	background-color:#555;
	color:#F90;
}
.menu2{
	width: 120px;
	height:0;
	overflow:hidden;
	background-color: #111;
	padding: 0 10px;
	cursor: default;
}
.menu2_item{
	line-height: 35px;
	color: #EEE;
	font-size: 15px;
	cursor: pointer;
	margin:2px 0;
}
.menu2_item:hover{
	background-color: #555;
}
.body_cnt{
	width: 85%;
	height: 100%;
	/*margin: 91px 0 0 140px;*/
	margin: 91px auto 0;
	padding-left: 120px;
	height: 600px;
	min-width: 690px;
	position:relative;
	*top:81px;
}
.pdt_name{
	color: #A40;
}
.pdt_money{
	color:#D00;
}
.search{
	height: 30px;
}
.search input{
	width: 200px;
	height: 28px;
	border: 1px solid #F90;
	display: block;
	float: right;
}
.search button{
	display: block;
	float: right;
}
.cnt_header{
	height:30px;
}
.cnt_header span{
	font-size:16px;
}
.cnt_header .welcome{
	font-size:25px;
	line-height:40px;
	margin-left:20px;
}
.col{
	float: left;
	border-radius: 30px;
	background-color:#FFF;
}
.col p{
	text-align:center;
	font-size:18px;
}
.col p b{
	color:#F90;
	font-size:32px;
	margin:0 10px;
	white-space:nowrap;
}
.col_2{
	width: 25%;
	height: 150px;
	margin: 50px 0 50px 15%;
}
.col_2 p{
	line-height: 28px;
	padding-top: 28px;
}
.col_4{
	float:left;
	width:18%;
	height:450px;
	margin:50px 0 50px 5%;
}
.col_4 p{
	height: 30px;
	line-height: 40px;
	padding-top: 50px;
}
.col_4 .col{
	float:none;
	width:100%;
	height:200px;
	margin-bottom:50px;
}
.col .col_long{
	padding-top:150px;
}
.col_3{
	width:26%;
	height:200px;
	margin:50px 0 0 5%;
}
.col_3 p{
	height:30px;
	padding-top:50px;
}