body .footer{
	background-color:#FFF;
	margin-top:10px;
}
body{
	background-color:#F4F4F4 !important;
}
body .cnt_box{
	overflow:hidden;
}
.body_cnt{
	float:right;
	width:1030px;
	margin-bottom:-1000px;
}
.min .body_cnt{
	width:790px;
}
.nav{
	float:left;
	width:169px;
	height:100%;
	min-height:500px;
	background-color: #FFF;
	z-index:98;
	margin-bottom:-300px;
	padding-bottom:300px;
}
.menu{
	width: 135px;
	margin:0 auto;
	overflow-y:auto;
	overflow-x:hidden;
}
.menu a{
	color:#FFF;
}
.menu_item{
	text-align: center;
	cursor: pointer;
	position: relative;
}
.menu_item span{
	display:block;
	font-size: 16px;
	line-height: 55px;
	height:55px;
	border-bottom:1px solid #EEE;
	border-top:1px solid #EEE;
	margin-top:-1px;
	background-image:url(../images/icon1.png);
	background-position-x:10px;
}
.active span{
	color:#F90;
	border-bottom:1px solid #F90;
}
.m_home{background-position-y:-105px;}
.m_apply{background-position-y:-145px;}
.m_order{background-position-y:-185px;}
.m_demand{background-position-y:-226px;}
.m_credit{background-position-y:-268px;}
.m_setting{background-position-y:-309px;}
.m_finance{background-position-y:-594px;}
.m_company{background-position-y:-671px;}
.m_home:hover, .active .m_home{background-position-y:-351px;}
.m_apply:hover, .active .m_apply{background-position-y:-391px;}
.m_order:hover, .active .m_order{background-position-y:-431px;}
.m_demand:hover, .active .m_demand{background-position-y:-472px;}
.m_credit:hover, .active .m_credit{background-position-y:-513px;}
.m_setting:hover, .active .m_setting{background-position-y:-554px;}
.m_finance:hover, .active .m_finance{background-position-y:-631px;}
.m_company:hover, .active .m_company{background-position-y:-710px;}
.item_home{
	z-index:9;
}
.menu_item span:hover{
	color:#F90;
}
.menu2 .active2{
	color:#FFF;
	background-color:#F90;
}
.menu2{
	height:0;
	overflow:hidden;
	padding: 0 15px;
	cursor: default;
}
.menu2_item{
	line-height: 30px;
	color: #999;
	font-size: 14px;
	cursor: pointer;
	margin:10px 0 15px;
	border-radius:14px;
}
.menu2_item:hover{
	color:#F90;
}
.menu2 .active2:hover{
	color:#FFF;
}
.cnt{
	background-image:url(../images/loading.gif);
	min-height:500px;
	background-position:50% 30%;
}
.cnt_body{
	overflow:hidden;
	background-color:#FFF;
	margin:10px 0 10px 10px;
	padding-bottom:1000px;
}
.cnt .pdt_money, .cnt .order_money{
	color:#D00;
}
.orders_list td a{
	margin:0 3px;
	color:#888;
}
.operation{
	width:115px;
}
.part{
	border:1px solid #FFF;
}
.search_bar{
	background-color:#FFF;
	border-bottom:2px solid #DDD;
	overflow:hidden;
	padding:10px 15px;
}
.search{
	height: 30px;
	float:right;
}
.search input{
	width: 200px;
	height: 28px;
	border: 1px solid #DDD;
	display: block;
	float: left;
}
.search span, .search select{
	display:block;
	height:30px;
	line-height:30px;
	float:left;
}
.search span{
	margin-left:30px;
}
.search select{
	width:150px;
	margin-right:30px;
	color:#999;
	border:1px solid #DDD;
}
.search button{
	display: block;
	float: left;
	border-radius:0;
}
.add_btn{
	float:left;
}
.users .white_btn{
	float:left;
	width:100px;
	margin:0 10px;
}
.cnt_header{
	height:55px;
	background-color:#FFF;
	line-height:55px !important;
	padding-left:30px;
}
.cnt_header span{
	font-size:14px;
}
.col{
	float: left;
	background-color:#F4F4F4;
	box-shadow:-1px -1px 0 0 #DDD inset,
				1px 1px 0 0 #DDD inset;
	cursor:pointer;
}
.c .my_credit{
	background-color:#F76;
	box-shadow:1px 1px 2px 0 #888;
	margin-left:7%;
}
.my_credit *{
	color:#FFF !important;
}
.c .my_credit .hbox_name{
	background-color:#F64;
}
.col_4{
	float:left;
	width:19%;
	height:385px;
	margin:80px 0 50px 3%;
}
.hbox_cnt{
	height:70px;
	line-height:110px;
	color:#F64;
	font-size:24px;
	white-space:nowrap;
	text-align:center;
}
.a .hbox_cnt{
	font-size:16px;
	padding-top:40px;
}
.hbox_cnt b{
	font-size:26px;
}
.hbox_unit{
	line-height:35px;
	text-align:center;
}
.col .hbox_name{
	height: 30px;
	line-height: 30px;
	font-size:16px;
	color:#222;
	background-color:#CCC;
	text-align:center;
}
.col_4 .col{
	float:none;
	width:100%;
	height:180px;
	margin-bottom:25px;
}
.col .col_long{
	padding-top:90px;
}
.col_3{
	width:22%;
	height:250px;
	margin:80px -5% 0 11%;
}
.c .col:hover, .a .col:hover{
	background-color:#FC3;
	box-shadow:0 0 5px 0 #FC3;
}
.c .col:hover *, .a .col:hover *{
	color:#FFF;
}
.c .col:hover .hbox_name, .a .col:hover .hbox_name{
	background-color:#FB1;
}
.c .col:hover .hbox_cnt{
	font-size:28px;
	font-weight:600;
}

/**** order_detail ****/

.os_id{
	font-size:18px;
	font-weight:600;
	color:#E33;
	margin-right:25px;
}
.cnt .order_track{
	padding:10px 0 20px;
}
.order_track p{
	overflow:hidden;
}
.order_detail_block{
	border:1px solid #FFF;
	padding-bottom:20px;
}
.track_block{
	border-top:10px solid #F4F4F4;
	border-bottom:10px solid #F4F4F4;
}
.order_pdt{
	margin:15px auto;
	width:83%;
	border:1px solid #DDD;
}
.order_box{
	background-color:#FFF;
	padding:15px 0;
	margin:15px 0 30px;
	width:90%;
}
.order_box h1{
	font-weight:normal;
	color:#F90;
	text-align:center;
	line-height:50px;
	height:40px;
	font-size:23px;
}
.order_title{
	font-size:13px;
	font-weight:600;
	line-height:35px;
	height:30px;
	margin:15px 25px 0;
	padding-top:15px;
	border-top:1px dashed #DDD;
	color:#666;
}
.seller_block .order_title, .credit_order_pay .order_title{
	border:none;
	margin-top:0;
}
.cnt .order_top{
	padding-left:20px;
	border-bottom:10px solid #F4F4F4;
	line-height:45px;
}
.order_row{
	overflow:hidden;
	padding-left:3%;
}
.os_userMark{
	margin-left:5.5%;
}
.order_row span, .order_row i{
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	color:#777;
}
.order_row span{
	width:12%;
	text-align:right;
	font-weight:600;
}
.order_track span{
	font-weight:normal;
}
.order_row i{
	width:21.3%;
}
.os_serviceCharge{
	color:#E33;
}
.order_total{
	font-size:22px;
}
.order_total_style{
	font-weight:600;
	font-size:18px;
}
.order_back{
	padding:20px 20px 10px;
}
.order_back button{
	width:200px;
	height:36px;
	font-size:14px;
	margin:0 auto;
}
.order_account{
	overflow:hidden;
	margin-top:15px;
}
.order_account p{
	width:250px;
	float:right;
	clear:both;
	line-height:30px;
	margin-right:4%;
}
.order_account p span{
	display:inline-block;
	width:100px;
	text-align:right;
}

/**********  demand_management  **********/
.search .demand_add{
	float:left;
	margin-right:100px;
	width:100px;
}


/********* credit.jsp **********/
.select_bank{
	font-size:16px;
	margin:15px;
	line-height:50px;
}
.credit_add{
	width: 150px;
	margin: 0 195px;
	height: 35px;
	font-size: 16px;
}
.cnt .credit_block{
	border:none;
}

.user_title{
	position:relative;
	height:40px;
	line-height:40px;
	font-size:15px;
	padding-left:20px;
	border-bottom:2px solid #DDD;
}
.user_title::after{
	content:"";
	position:absolute;
	width:130px;
	height:2px;
	background-color:#F90;
	bottom:-2px;
	left:0;
}

.credit_detail .order_top{
	border:none;
	display:block;
	float:right;
}
.credit_detail .order_top span{
	font-size:14px;
	color:#999;
}
.credit_detail .os_id{
	font-size:16px;
}
.credit_detail .order_total, .buyer_credit{
	font-size:14px;
	font-weight:600;
}
.credit_detail .track_block{
	padding:20px 0;
}
.credit_detail .order_row input{
	display:block;
	float:left;
	margin-right:10px;
}
.credit_detail .track_block .order_row{
	margin:15px 0;
}
.order_row [type="radio"]{
	width:15px;
	height:15px;
	margin:7.5px;
	cursor:pointer;
}
.submit{
	width:30%;
	height:38px;
	line-height:38px;
	font-size:15px;
	margin:15px auto 5px;
}

/*******  琛ㄥ柈鍗�鍩�   *******/
.fill_block{
	padding:25px 40px;
	border-bottom:10px solid #F4F4F4;
}
.fill_block p{
	line-height:50px;
}
.fill_block span{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:100px;
	padding-right:20px;
	text-align:right;
	font-size:13px;
	color:#666;
}
.fill_block input{
	background-color:#FAFAFA;
	border-color:#DDD;
	height:30px;
	line-height:30px;
	width:250px;
}
.fill_block select{
	width:262px;
	height:32px;
	line-height:32px;
	border-color:#DDD;
}
.fill_block textarea{
	width:75%;
	min-height:150px;
	max-height:300px;
	line-height:25px;
	border-color:#DDD;
}


/************  琛ㄦ牸    ************/
.cnt table thead{
	background-color:#F4F4F4;
}
.cnt thead th{
	line-height:28px;
	font-size:13px;
	color:#333;
	padding:4px 1px;
}
.cnt .tab_4{
	width:60px;
}
.cnt td{
	line-height:28px;
	color:#777;
	padding:4px 1px;
}
.rows .odd{
	background-color:#F4F4F4;
}
.cnt .page_box{
	margin:20px 5px 10px;
}

/**************  閾惰鍚庡彴    ***************/
.col_2{
	width:35%;
	height:150px;
	margin:50px -7% -5px 12%;
	border:3px solid #F4F4F4;
	box-shadow:none;
}
.b .col_2{
	background-image:url(../images/bank_home.png);
	background-position:13% 32px;
}
.b .bh2{
	background-position:13% -109px;
}
.b .bh3{
	background-position:13% -251px;
}
.b .bh4{
	background-position:13% -395px;
}
.b .col_2 .bank_num{
	font-size:14px;
	margin-top:35px;
}
.bank_num b{
	font-size:28px;
}
.b .col_2 p{
	text-indent:45%;
	text-align:left;
	font-size:16px;
	margin-top:10px;
	line-height:30px;
}
.b .org{
	color:#F90;
}
.b .bl{
	color:#88F;
}
.b .col_2:hover{
	border-color:#F90;
	box-shadow:-2px -2px 2px 1px #F4F4F4,
				2px 2px 2px 1px #F4F4F4;
}

/** 支付方式 **/
.pay_add_btn .submit{
	width:262px;
	margin-left:160px;
}

/*** 申请列表 ***/
.finance_list .fill_block{
	padding:5px 40px 10px;
}
.finance_order_list table{
	border:1px solid #FFF;
	border-top:none;
}
.finance_order_list{
	border-bottom:10px solid #F4F4F4;
	padding-bottom:20px;
}
.back_finance_btn{
	width:25%;
	height:35px;
	font-size:16px;
	margin:15px auto 10px;
}